@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import "tailwindcss";

@theme {
  /* Font Family */
  --font-sans: "Manrope", ui-sans-serif, system-ui, sans-serif;

  /* Brand Colors from Image */
  --color-primary: rgba(255, 113, 61, 1);
  --color-secondary: rgba(255, 185, 66, 1);
  --color-dark: rgba(13, 13, 13, 1);
  --color-error: rgba(255, 79, 61, 1);
  --color-accent: rgba(29, 10, 4, 1);
  --color-accent-2: rgba(237, 230, 214, 1);
  --color-light-gray: rgba(211, 211, 211, 1);

  /* Semantic Aliases */
  --color-background: var(--color-white);
  --color-foreground: var(--color-dark);
}

@layer base {
  body {
    @apply font-sans antialiased bg-white text-dark;
  }
}

body {
  background-color: var(--color-accent-2);
}
